.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  // margin: auto;
  perspective: 1000px;
  position: relative;
  height: 250px;
  width: 440px;
  max-width: 90%;
  background-color: lightgray;

  @media (min-width: 530px) {
    height: 320px;
    width: 540px;
    max-width: 100%;
  }
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // transform: translateY(50%) rotateY(-80deg);
  transition: transform 0.5s ease, opacity 0.5s ease;

  @media (min-width: 530px) {
    transform: translateX(50%) rotateY(-20deg);
  }
}

.card.active {
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  transform: translateX(0) rotateY(0deg);
}

.card.left {
  transform: translateY(50%) rotateY(100deg);

  @media (min-width: 530px) {
    transform: translateX(-50%) rotateY(10deg);
  }
}

.inner-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #424242;
  // background: #fff;
  padding: 0 20px;
  border-radius: 8px;

  p {
    text-align: center;
    color: #ddd;
  }
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
  font-size: 1.3rem;
  overflow-y: scroll;
  // scrollbar-width: none;
}

.inner-card-back::-webkit-scrollbar {
  display: none;
}

.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #ddd;
}
